{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <h1>Connexion</h1>

    {% if error %}
        <div class="flash flash-error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form method="post">
        <div>
            <label for="username">Email</label>
            <input type="email" value="{{ last_username }}" name="_username" id="username" autocomplete="email" required autofocus>
        </div>
        <div>
            <label for="password">Mot de passe</label>
            <input type="password" name="_password" id="password" autocomplete="current-password" required>
        </div>
        <p><a href="{{ path('app_password_reset_request') }}">Mot de passe oublie ?</a></p>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <button type="submit">Se connecter</button>
    </form>
{% endblock %}
