{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublie{% endblock %}

{% block body %}
    <h1>Reinitialiser le mot de passe</h1>
    <p>Saisis ton email. Si un compte existe, tu recevras un lien de reinitialisation.</p>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <button type="submit">Envoyer le lien</button>
    {{ form_end(requestForm) }}
{% endblock %}
