# MySQL
DB_DSN="mysql:host=localhost;dbname=vite_gourmand;charset=utf8mb4"
DB_USER="vg_user"
DB_PASS="vg_password"

# MongoDB
MONGO_DSN="mongodb://root:rootpass@127.0.0.1:27017"
MONGO_DB="vite_gourmand"

# Mail
MAILER_DSN="smtp://LOGIN_BREVO:MDP_BREVO@smtp-relay.brevo.com:587?encryption=tls"
MAIL_FROM_EMAIL="your-email@example.com"
MAIL_FROM_NAME="Vite Gourmand"
APP_URL="http://localhost"