# Environnement / secrets
.env
.env.*
!.env.example

# Dépendances
/vendor
/node_modules/

# IDE / éditeurs
.vscode/
.idea/
*.code-workspace

# Logs / cache / temp
*.log
/tmp/
/cache/
/var
/storage/logs/

# Tests / coverage
/coverage/
.phpunit.result.cache

# Build / bundlers
/dist/
/build/
.vite/

# Adminer / outils locaux
/public/adminer.php
adminer.php

# User stories
US.txt
