# Environment
.env

# IDE/editor
.vscode/
*.code-workspace

# Cache / logs
vendor/
node_modules/
*.log

# OS files
.DS_Store
Thumbs.db

# Outils dev
cmd.txt
public/adminer.php
public/adminer.php.ZoneIdentifier
adminer.php
adminer.php.ZoneIdentifier
/adminer.php
/adminer.php.ZoneIdentifier