<h1>Reinitialisation de mot de passe</h1>
<p>Bonjour {{ user.prenom }} {{ user.nom }},</p>
<p>Tu as demande une reinitialisation de mot de passe.</p>
<p>Ce lien expire le {{ expiresAt|date('d/m/Y H:i') }}.</p>
<p><a href="{{ resetUrl }}">Reinitialiser mon mot de passe</a></p>
<p>Si tu n'es pas a l'origine de cette demande, ignore cet email.</p>
